rpyc
pycryptodome
pefile 
pyyaml
rsa
netaddr
ecdsa==0.13
paramiko==2.0.2
tinyec
psutil
netifaces
pylzma
colorama
mss
pyOpenSSL
scapy
impacket
pyuv
dnslib
http-parser
cerberus
logutils
secretstorage
pygments
requests
tornado
keyboard
poster
win_inet_pton
scandir
msgpack
hexdump
M2Crypto
fusepy
-e external/pykcp
