rpyc==3.4.4
pycryptodome
pefile 
pyyaml
rsa
netaddr
ecdsa==0.13
paramiko==2.0.2
tinyec
psutil
netifaces
pylzma
colorama
mss
pyOpenSSL
scapy
https://github.com/CoreSecurity/impacket/archive/master.zip
pyuv
dnslib
http-parser
cerberus
logutils
secretstorage
https://github.com/AlessandroZ/pypykatz/archive/master.zip
pygments
requests
tornado
poster
win_inet_pton
scandir
msgpack
hexdump
M2Crypto>=0.30.1
fusepy
defusedxml
keyboard
dateparser
puttykeys
pyelftools
filemagic
xattr
-e external/pykcp
flake8
flake8-per-file-ignores
