rpyc
pycrypto
pefile 
pyyaml
rsa
netaddr
ecdsa==0.13
paramiko==2.0.2
tinyec
psutil
netifaces
m2crypto
pylzma
mss
colorama
pyOpenSSL
scapy
impacket
pyuv
dnslib
http-parser
cerberus
logutils
secretstorage
