# Temporary files
*.pyc
*.pyo
*.swp
.#*

# Generated sources
client/sources/import-tab.c
client/sources/import-tab.h
client/sources/revision.h
client/sources-linux/revision.h
client/sources-linux/ld_hooks_64.c
client/sources-linux/ld_hooks_64d.c
client/android_sources/buildozer.spec

# Compiled files
client/sources/*.obj
client/sources/*.obj
client/sources/_pupy*
client/sources/resources

client/pyoxidizer-build/lib/pupy
client/pyoxidizer-build/library_patches_py3

client/sources-linux/*.o
client/sources-linux/*.lin
client/sources-linux/*.so
client/sources-linux/resources

pupy/payload_templates/*.toc
pupy/payload_templates/*.dll
pupy/payload_templates/*.exp
pupy/payload_templates/*.lib
pupy/payload_templates/*.zip
pupy/payload_templates/*.exe
pupy/payload_templates/*.lin
pupy/payload_templates/*.lin.so
pupy/payload_templates/*.pyd

# pupy
pupy/.pupy_history
pupy/config
pupy/crypto
pupy/data
pupy/proxy/proxy

build
pupy.egg-info
.pupy_history
pupyvenv
